body {
  background-color: black;
  color: antiquewhite;
}

h1 {
  font-size: 6rem;
  text-align: center;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
.menu ul {
  grid-column: 3;
  grid-row: 1;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: start;
}
.menuBg {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(4, 25px);
  position: fixed;
  background-color: cadetblue;

  /* background-color: green; */
}
.image {
  width: 80%;
}
.lab {
  grid-column: 1/2;
  grid-row: 1;
}
.labyrinth {
  grid-column: 1/2;
  grid-row: 2/3;
}
.beast {
}

.goblin {
}

.img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 200px);
}
.footer-container {
  height: 80px;
  width: 100%;
}

.foot-img {
  height: 100%;
  width: auto;
}
p {
  text-align: center;
  font-size: 1rem;
}
